<app-header titulo="Cards"></app-header>

<ion-content>

  <ion-card>
    <ion-card>
      <ion-img src="/assets/shapes.svg"></ion-img>
    </ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="navigate"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>


    <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem illo saepe repellendus rem inventore minus perspiciatis voluptates sunt porro quibusdam! Ut et vero necessitatibus iste illo quibusdam, excepturi nulla labore?
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
  </ion-card>
  
    <ion-card href="/inicio">
      <ion-card-content>
         Home
      </ion-card-content>
    </ion-card>

  <ion-card mode="ios" color="primary" *ngFor="let item of [0,0,0]">
    <ion-card-header>
      <ion-card-subtitle >Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dolor perspiciatis doloribus a hic ipsa aspernatur, odit magni ullam dolorem nobis eum reprehenderit repellendus unde atque optio sequi! Pariatur, culpa?
         </ion-card-content>   
  </ion-card>  







</ion-content>
